@font-face
{
font-family: 'headerFont';
src: url('zombie.ttf') format('truetype');
}
@font-face
{
font-family: 'mainFont';
src: url('LinLibertine_R.ttf') format('truetype');
}

body{
	-webkit-user-select: none; /* Safari, Chrome */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE */
    user-select: none; /* CSS3 */
    background-color:rgb(100,100,100);
    background-image: url('/img/zombiz_background.jpg');
    background-color:grey;
    background-position: center top;
    /*background-size: 2560px;*/
    margin:0;padding:0;
    background-size:100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
	height: 100%;
	font-family: arial, times;
}
header{
	background-color: rgba(0,0,0,0.5);
	box-shadow: 0px 10px 10px black;
	width:1000px;
	height: 234px;
	background-image: url('/img/zombiz_header.jpg');
	background-size: 100%;
	text-indent: -9999px;
}
a{color:white;}
a:visited{color:white;}
#header{text-decoration: none;}

nav{font-family:headerFont;font-size:35px;height: 40px;background-color:black;color:white;	margin-bottom: 30px;
	border:solid 3px black;
	background: #4f4f4f; /* Old browsers */
	background: -moz-linear-gradient(top,  #4f4f4f 0%, #000000 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4f4f4f), color-stop(100%,#000000)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #4f4f4f 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #4f4f4f 0%,#000000 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #4f4f4f 0%,#000000 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #4f4f4f 0%,#000000 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4f4f4f', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}
nav ul{list-style: none;padding: 0;margin:0;}
nav ul li{float:left;width:24%;text-align:center;}
nav ul li a{text-decoration: none;}
nav ul li a:hover{color:rgb(200,50,50);}

#wrapper{
	width:1000px;
	min-height: 100%;
	background-color:rgba(50,50,50,0.8);
	margin:auto;
	box-shadow: 0px 0px 50px black, 0px 0px 30px black;
	position:relative;
}

#plateau{
	width:1000px;height:650px;
	margin:auto;
	border:1px solid black;
	overflow: hidden;position:relative;
	background-color:black;
	-webkit-user-select: none; /* Safari, Chrome */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE */
    user-select: none; /* CSS3 */
}
#plateau:hover{
	cursor: url('/img/viseur.png') 24 24,pointer;
}

#inscription, #options, #account{
	background-color:black;
	color:white;
	position:absolute;
	top:0px;
	left:0px;
	width:1000px;
	height: 650px;
}
#options div, #account div{
	margin:auto;
	width:60%;
	margin-top: 100px;	
}
#inscription div{
	margin:auto;
	width:60%;
	margin-top: 100px;
	text-align: center;
}
#inscription div ul{
	text-align: left;
	color:grey;
}
#inscription a{
	display:inline-block;
	margin:10px;
	background-color:rgb(122,13,17);
	padding:5px;
	border-radius:5px;
	border:1px white groove;
}
#inscription a:hover{
	background-color:rgb(152,23,37);
	margin-left:15px;
	margin-right:5px;
}

h1{
	font-family: 'headerFont', courier;
	font-size: 70px;
	color:white;
	color:rgb(162,13,17);
	padding:0px;
	margin:0px;
	text-align: center;
	text-shadow:1px 1px 2px black;
}
h2{
	color:grey;
	text-align: center;
	font-size: 30px;
	margin:0px;
	text-shadow:1px 1px 2px black;
}
p{text-shadow:1px 1px 1px black;box-shadow:0px 0px 5px black;}
#warning-navigateur{
	/*background-color:rgb(210,150,20);*/
	background-color: rgb(158, 80, 0);
	border-radius: 10px;
	padding:10px;
	color:rgb(220,220,220);
	text-align: center;
}

footer{
	color:rgb(200,200,200);
	font-size: 13px;
	background-color:black;
	padding:10px 20px;
	position:relative;
}
footer p{margin-top:0px;}
#copyright{
	text-align: right;
	position:absolute;
	top:20px;
	right:20px;
}
#version{
	text-align: right;
	position:absolute;
	top:40px;
	right:20px;
}


/*LEADERBOARD*/
#leaderboard{
	width: 100%;
	border-collapse: collapse;
	margin-bottom:20px;
}
#leaderboard th,#leaderboard td{
	text-align: center;
	border:1px solid grey;
	background-color:rgba(0,0,0,0.6);
	color:white;
}
#leaderboard td{
	color:rgb(220,190,150);
	position:relative;
}
#leaderboard tr:nth-child(2n){
	background-color:rgba(150,150,150,0.5);
}
/*gestion du truc pour afficher en gros les premiers joueurs*/
#leaderboard tr:nth-child(2) td{font-weight: bold;font-size: 1.4em;}
#leaderboard tr:nth-child(3) td{font-weight: bold;font-size: 1.3em;}
#leaderboard tr:nth-child(4) td{font-weight: bold;font-size: 1.2em;}
#leaderboard tr:nth-child(5) td{font-size: 1.1em;}
#leaderboard tr:nth-child(6) td{font-size: 1.1em;}

/* gestion des grades / ban */
.leaderboard-badge{position:absolute;left:2px;top:2px;font-size:11px;color:white;padding:2px;border-radius: 4px;}
.leaderboard-ban{background-color:rgb(150,150,150);}
.leaderboard-modo{background-color:rgb(50,150,50);}
.leaderboard-admin{background-color:rgb(150,50,150);}

.preload{display: none;}

.twitter-timeline{display:block;margin:20px auto;width:100%;}
#social-bar{
	border-bottom: 1px solid black;
	height: 25px;
	position:absolute;
	top:205px;
	left:0px;
	border-radius:0px 5px 0px 0px;	
}
#social-bar span{height:100%;float:left;padding:1px 10px;background-color:rgba(0,0,0,0.7);}
#social-bar a, #social-bar span{color:white;text-decoration: none;font-size: 12px;}
#social-bar span:first-child{padding-top:6px;}
#social-bar img{height: 25px;vertical-align: middle;margin-right: 5px;}