@font-face
{
font-family: 'HUDFond';
src: url('HUD.ttf') format('truetype');
}

#topPlayers{color:#E0E0E0;}

#info-connexion{margin-top:30px;}
#info-connexion a{
	color:rgb(190,190,190);margin:0;padding:3px;
	background-color:transparent;border:none;font-size:11px;
}


/****************  CSS MAP **************** */
#map{
	width:2000px;/*Changer aussi ServerMap et characterManager si on change ces 2 là*/
	height: 1000px;
	position:absolute;
	top:0px;
	left:0px;
	z-index: 0;
	background-color:grey;
	background-image:url('/img/map.jpg');
	background-repeat: no-repeat;
	overflow: hidden;
	-webkit-user-select: none; /* Safari, Chrome */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE */
    user-select: none; /* CSS3 */
}
.player{
	width:50px;/*Changer aussi characterManager et gameMap si on change ça*/
	height: 50px;
	z-index: 10;
	background-image: url('/img/players_mini.png');
	background-repeat: no-repeat;
}
.player-name{
	z-index:9;
	text-align: center;
	font-size: 11px;
	width:70px;
	overflow: hidden;
	color:white;
	border-radius:3px;
}
.map-item{
	position:absolute;
	top:0px;
	left:0px;
	-webkit-user-select: none; /* Safari, Chrome */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE */
    user-select: none; /* CSS3 */
}
.zombie{
	width: 50px;/*Changer aussi characterManager et gameMap si on change ça*/
	height: 50px;
	z-index: 11;
	background-image: url('/img/zombies_mini.png');
	background-repeat: no-repeat;
}
.droppable{
	width: 40px;/*Changer aussi characterManager si on change ça*/
	height: 40px;
	z-index: 6;
	background-image: url('/img/droppables.png');
	background-repeat: no-repeat;
}
.sang{
	z-index: 1;
	width:50px;
	height: 50px;
	background-image: url('/img/sang.png');
	background-position:0px 0px; /*10, 60, etc*/
	background-repeat: no-repeat;
}
.simple_bullet{
	z-index:7;
	position:absolute;
	top:0px;left:0px;
	background-image:url('/img/simple_bullet.png');
	background-repeat: no-repeat;
}
.arbre1{opacity:0.8;width:155px;height:198px;z-index: 20;background-image:url('/img/arbre1.png');background-repeat: no-repeat;}
.arbre2{opacity:0.8;width:152px;height:198px;z-index: 20;background-image:url('/img/arbre2.png');background-repeat: no-repeat;}
.mur-accueil{opacity: 0.8;width:630px;height: 79px;z-index:20;background-image: url('/img/mur_accueil.png');background-repeat: no-repeat;}
.map-text{font-size: 23px;color: white;font-family: headerFont;}

/****************  CSS HUD  ***************** */
#hud{
	background-color:rgba(0,0,0,0.6);
	width: 340px;
	height: 40px;
	position:absolute;
	top:0px;
	left:0px;
	color:rgb(162,13,17);
	border-bottom-right-radius: 10px;
}
#hud p{
	position:absolute;top:-40px;
	font-family: "HUDFond",courier;
	font-size: 45px;
	width:80px;
	text-align: right;
	background-position: left top;
	background-size: 30px;
	background-repeat: no-repeat;
	box-shadow: none;
}
#arme-courante{
	background-image:url('/img/droppables.png');
	background-size: 160px !important;
	width:40px !important;
	height:40px !important;
	left:290px;
}
#joueur-life{
	background-image:url('/img/heart.png');
	left:0px;
	color:rgb(70,128,51);
}
#joueur-kills{
	background-image:url('/img/viseur.png');
	left:100px;
}
#zombie-life{
	position:absolute;
	/*opacity:0;*/
	top:20px ;
	width: 200px ;
	height: 10px;
	font-size: 20px;
	box-shadow: 0px 0px 2px rgb(150,150,150);
	border-radius:10px;
	border:1px groove black;
	text-align: center;
	left:350px;
	background:rgba(0,0,0,0.3);
	background-size:50%;
}
#zombie-life-inner{
	position:absolute;
	top:0px;
	left:0px;
	width:0%;
	background-color:orange;
	height: 10px;
	border-radius:10px;
}
#buffs{
	position:absolute;
	top:0px;
	left:700px;
	width:300px;
	height: 50px;
}
#buffs div{
	float:right;
	width:40px;
	margin:0 1px;
	height: 0px;
	padding-top:40px;
	text-align: center;
	background-image:url('/img/buffs.png');
	background-repeat: no-repeat;
}
#saignementLeger{background-position:0px 0px;}
#saignementViolent{background-position:0px -40px;}
#zombizSlayer{background-position:0px -80px;}
#assomage{background-position:0px -120px;}
#poison{background-position:0px -160px;}
#survivor{background-position: -40px 0px;}
#adrenaline{background-position:-40px -40px;}

#vague-courante{
	background-image:url('/img/wave.png');
	left:200px;
}
#debug{
	position:absolute;
	top:0px;right:0px;
	width:300px;
	padding:3px;
	color:white;
	background-color:rgba(0,0,0,0.5);
	display: none;
}

#compteAReboursVague{
	position:absolute;
	top:200px;
	left:400px;
	height: 150px;
	width: 150px;
	text-align: right;
	font-size: 150px;
	font-family: "HUDFond";
	color:rgb(162,13,17);
}

#online-players{
	position:absolute;
	left:890px;
	padding:5px;
	font-size:12px;
	width:100px;
	top:620px;
	color:white;
}
#menu{
	display:none;
}

#menu span{
	background-color:rgb(162,13,17);
	padding:5px;
	border-radius:5px;
	border:1px white groove;
	color:white;
}
#menu span:hover{
	background-color:rgb(202,23,37);
	cursor: pointer;
}

/****************  CSS TCHAT **************** */

#tchat{
	background-color:rgba(0,0,0,0.4);
	position:absolute;
	bottom:0px;
	left:0px;
	width:400px;
	height: 200px;
	overflow: hidden;
	color:white;
	font-family: courier;
	font-size:12px;
	border-top-right-radius: 20px;
}
#tchat ul{
	list-style: none;
	padding:5px;
	margin:0;
	position:absolute;
	bottom:20px;
}
#tchat-input{
	background-color:rgba(0,0,0,0.2);
	width:400px;
	position:absolute;
	bottom:0px;
	padding:0px 0px 2px 5px;
	margin:0px;
	color:white;
	border:none;
}

#tchat ul li{
	margin:0;
	padding: 0;
}
#tchat .tchat-rang-0{
	color:rgb(200,150,150);
}
#tchat .tchat-rang-1{
	background-color:rgb(50,150,50);
	color:white;margin-right:2px;
	border-radius:2px;padding:0px 2px;
}
#tchat .tchat-rang-2{
	background-color:rgb(150,50,150);
	color:white;margin-right:2px;
	border-radius:2px;padding:0px 2px;
}
#tchat .tchat-admin{
	color:rgb(200,50,200);
}
#tchat .tchat-game-event{
	color:rgb(210,117,16);
}
#tchat .tchat-game-info{
	color:rgb(50,110,190);
}
#tchat .tchat-error{
	color:rgb(200,30,30);
}
