@font-face
{
font-family: 'linkFont';
src: url('zombie.ttf') format('truetype');
}

#content{
	color:white;
}

#button-jouer{
	display:block;
	color:white;
	width:50%;margin:auto;
	padding:30px;
	border-radius: 20px;
	text-align: center;
	font-family: 'linkFont',courier;
	font-size: 40px;
	text-decoration: none;
	background-image: url('/img/playbutton.png');
	background-repeat: no-repeat;
	background-position: center bottom;
}
#button-jouer:hover{
	cursor: pointer;
	background-position: center 5px;
}

#liste-zombies{
	width:500px;
	margin:auto;
	border-collapse:separate;
border-spacing:0px 20px;
}
#liste-zombies tr{
	margin-top: 10px;
}
#liste-zombies td{
	padding:10px;
	background-color:#444444;
	box-shadow: 0px 0px 15px black;
	border-radius:10px;
	color:rgb(210,210,210);
	text-align: justify;
	vertical-align: top;
}
#liste-zombies p{
	box-shadow: none;
	padding:0 20px;
	text-align: justify;
}
#liste-zombies h4{
	padding:0;
	margin:0;
	margin-left:20px;
	color:rgb(230, 230, 230);
	text-align: center;
}

h3{
	border-bottom:1px solid white;
	text-align: center;
}
.miniature-zombie{
	width:100px;
	height: 100px;
	float:left;
	margin-top:10px;
	margin-left:10px;
	background-image: url('/img/zombies.png');
	-webkit-transform:rotate(90deg);
	-moz-transform:rotate(90deg);
	transform:rotate(90deg);
	background-color:rgb(200,200,200);
	border-radius:5px;
	border:1px dashed white;
	margin-right: 10px;
}

.stats-bonnes{
	background-color:rgb(70,128,51);
	border-radius:2px;
	padding:0 3px;
}
.stats-moyennes{
	background-color:rgb(159,111,15);
	border-radius:2px;
	padding:0 3px;
}
.stats-mauvaises{
	background-color:rgb(132,53,57);
	border-radius:2px;
	padding: 0 3px;
}
.italic{
	clear:both;
	font-style: italic;
	color:rgb(190,190,190);
}

#changelog{
	width:100%;
	height: 400px;
	resize: none;
	display:none;
}

#button-jouer{
	/*-moz-box-shadow:inset 0px 1px 0px 0px #000000;
	-webkit-box-shadow:inset 0px 1px 0px 0px #000000;
	box-shadow:inset 0px 1px 0px 0px #000000;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #bd3535), color-stop(1, #000000) );
	background:-moz-linear-gradient( center top, #bd3535 5%, #000000 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bd3535', endColorstr='#000000');*/
	width:50%;
	height: 110px;
	background-color:rgba(0,0,0,0.5);
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #000000;
	color:#bdbdbd;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #240303;
}

#button-jouer:hover{
	/*background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #000000), color-stop(1, #bd3535) );
	background:-moz-linear-gradient( center top, #000000 5%, #bd3535 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#bd3535');
	background-color:#000000;*/
	background-color: rgba(50,0,0,0.5);
}

#button-jouer:active {
	position:relative;
	top:1px;
}